<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html>
    <head>
        <title>Widok User</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body>
        <div>Widok User</div>
        <table>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Surname</th>
                <th>Credits</th>
                <th>Adress ID</th>
            </tr>
            
            <tr>
                <td>1</td>
                <td>Janek</td>
                <td>Mróz</td>
                <td>500</td>
                <td>5</td>
            </tr>
            
        </table>
    </body>
</html>
