<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html>
    <head>
        <title>Widok Address</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
        <script src="../js/addressView.js"></script>
    </head>
    <body>
        <div>Widok Address</div>
        <table>
            <tr>
                <th>Id</th>
                <th>City</th>
                <th>Code</th>
                <th>Street</th>
                <th>Number</th>
            </tr>
        </table>
    </body>
</html>
